Making the First Data Frame (Postcode and Neighbourhood)

In [46]:
# Importing required Libraries
import pandas as pd
import wikipedia as wp

In [47]:
# Web Scrapping the Wikipedia Page
html = wp.page("List of postal codes of Canada: M").html().encode("UTF-8")
df = pd.read_html(html)[0]

In [48]:
# Removing Entries that have 'Not Assignes' Borough
df = df[df.Borough != 'Not assigned']

In [49]:
# Grouping Neighbourhood based on Post Codes
df = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()

In [50]:
# For 'Not Assigned' Neighbourhood, copying the data from Borough

# Getting ready for Data Transfer from Columns to List
Borough = list(df1['Borough'])
Neighbourhood = list(df1['Neighbourhood'])

# Copying the Data
for i,v in enumerate(Neighbourhood):
    if (Neighbourhood[i]=='Not assigned'):
        Neighbourhood[i]=Borough[i]
        
# Getting data back from list to Column
df1['Neighbourhood']=Neighbourhood
df1['Borough']=borough

In [51]:
# Data Frame is now Ready
df

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [52]:
# Shape of Data Frame
df.shape

(103, 3)

Making the Second Data Frame (Neighbourhood and Coordinates)

In [70]:
# Importing Geospatial Data
path = '/Volumes/Internal/GitHub/Coursera_Capstone/Geospatial_Coordinates.csv'
df1 = pd.read_csv(path)

In [71]:
df1.rename(columns={"Postal Code": "Postcode"}).inplace=True